extends ../layouts/application.pug

block header
  = t('views.tasks.edit.editTasks')

block content
  +formFor()(action=route(`tasks#update`, { id: task.id }) method='post').mb-3
    +input(task, 'name', t('views.tasks.name'), errors)(type='text')
    +textarea(task, 'description', t('views.tasks.description'), errors)
    +select(task, 'statusId', t('views.tasks.status.name'), errors, taskStatuses)
    +select(task, 'executorId', t('views.tasks.executor.name'), errors, users)
    +select(task, 'labels', t('views.tasks.labels'), errors, taskLabels)(multiple='multiple')

    input(name="_method" type="hidden" value="PATCH")
    +submit(task)(value=t('views.tasks.edit.submit'))